[2012-10-02 10:34] ivolo opened #1 "Fix ordering issue in test.py"
The first request isn't made before the assert statement in only the first test.

[2012-10-02 19:48] ivolo opened #2 "Add time-based flush test"
1. Perform action
2. Wait larger than time triggered flush
3. Perform another action
4. Check that the flush and successful matches 2

[2012-10-02 19:50] ivolo opened #3 "Add size-based flush test"
[code]

[2012-10-25 15:54] #1 closed, assigned to ivolo

[2012-10-25 15:56] #2 closed, assigned to ivolo

[2012-10-25 15:56] #3 closed, assigned to ivolo

[2013-01-25 18:14] Bpless opened #5 "Add timeout to requests.post() in client"
Looks like you guys are not adding a timeout here.   Seems like a nice way to degrade in the event that you service is down.

At the very least, offer it up as a configurable option.

The requests library allows you to specify a timeout as an optional keyword arg.

[2013-01-31 04:32] #5 closed, assigned to nobody

[2013-02-12 22:59] hamstah opened #6 "Test "randomly" fail"
Hi,
Been running the tests a few times and they seem to fail randomly (from what I can see).
Example of failures below

[code]

[code]

let me know if you need more details to reproduce

[2013-02-12 23:03] hamstah opened #7 "Fails to install in a clean virtualenv"
Hi,

Steps to reproduce

[code]

Error message:

[code]

This is caused by the version import from analytics.
When the module is imported, the presence of required dependencies is checked, before setup processes them.

This makes it a problem to deploy cleanly.

[2013-02-19 21:39] #7 closed, assigned to nobody

[2013-02-21 02:59] poswald opened #10 "Improve logging/callback/failfast of the library"
Giving the whole logging thing a bit more thought here's what I think would be ideal:

* no print sys.stderr calls, everything should use logging
* calls to `track()`, `identify()`, etc… should check if the library is configured right away and log to `ERROR` if it isn't however this shouldn't cause the call to return. It should still queue the data and behave as it normally would.
* failed precond

[2013-03-11 20:24] tonyxiao opened #11 "Allow specifying sessionId rather than just userId"
Sometimes we want to log metrics for unlogged in user on server side. Currently we could specify a random userId but that's really not the intended meaning of userId (which according to the docs is a persistent database identifier for the user).

[2013-03-11 20:28] tonyxiao opened #12 "Add empty method signatures in analytics module to silence static analyzers"
In `**init**.py', currently the code reads

[code]

Which definitely works in runtime, but some IDEs (e.g. PyCharm) and static analyzers are not able to provider autocompletion and marks method calls to say `analytics.track` as warning and complain that method doesn't exist.

[2013-06-25 19:43] #12 closed, assigned to nobody

[2013-06-25 19:47] #11 closed, assigned to nobody

[2013-07-26 09:40] cmabastar opened #16 "Django Stop/Restart flush events?"
Hi,

Sorry this isn't a bug but more of a question.

I would like to integrate segmentio in a django app however I have concern on what it does in cases that django would be restarted or stopped using through uwsgi.
Since its using threads in background, will it flush all the messages before being stop or restarted?

[2013-08-10 18:35] #16 closed, assigned to nobody

[2013-11-20 09:09] ivolo opened #19 "python wheels support"
http://pythonwheels.com/

[2013-12-29 23:18] reinpk opened #20 "add requestId's to each action flushed"
the spec developed and deployed with the iOS SDK: https://gist.github.com/reinpk/7bd33d29694578b06cce (ignore the requestTimestamp on batch flushing since we don't want to correct timestamps coming from a server)

[2014-02-26 01:04] ianstormtaylor opened #21 "Ongoing changes for API v2"
https://github.com/segmentio/spec
- [ ] Use HTTP Basic Auth with the project's **Write Key**.
- [ ] Rename to `anonymousId` from `sessionId` for clarity.
- [ ] Separate `integrations` (was `providers`) object from `context`, for cleaner logs.
- [ ] Add `requestId` for easily tracing calls through to the raw logs.
- [ ] Change `library` to be a object with `name` and `version` for consistency.

[2014-05-12 14:18] chrisdl opened #23 "[Errno 8] _ssl.c:504: EOF occurred in violation of protocol"
My logs (sentry) are showing a Segment.io request error in ``python2.7/site-packages/analytics/client.py``

[code]

It has happened about 900 times in the past 4 days. Any thoughts? Any more info I can give you?

[2014-09-05 22:17] #21 closed, assigned to nobody

[2014-09-05 22:17] #20 closed, assigned to nobody

[2014-09-05 22:18] #6 closed, assigned to nobody

[2014-09-09 00:02] samiruppaluru opened #26 "Breaking on unicode arguments"
We use the

[code]

heading on all our files, which defaults our strings to type 'unicode'.

Upon upgrading to v1.0, analytics-python throws an exception being passed any unicode arguments, as it appears to do type-checking to explicitly check for 'str' type only. This applied for the analytics.write_key argument as well as the analytics.track 'event' name argument, but may be an issue elsewhere a

[2014-09-09 00:12] ivolo opened #27 "easy_install not working"
Not sure will use `easy_install`, but I assume its some :)

[code]

[2014-09-09 01:02] #26 closed, assigned to nobody

[2014-09-09 01:30] #27 closed, assigned to nobody

[2014-09-30 08:35] diwu1989 opened #30 "Make it possible to toggle send=False"
When we are running our unit tests, we need to be able to set analytics.send to be False and not let the thread client waste time enqueueing.

Please add this capability.

[2014-09-30 23:15] #30 closed, assigned to nobody

[2014-10-03 03:49] diwu1989 opened #32 "Submit 1.0.3 to Pypi"

[2014-10-03 05:07] #32 closed, assigned to nobody

[2014-10-07 13:35] sirvon opened #33 "errors when calling client.."
When i call
[code]
if get this error....
No handlers could be found for logger "segment"

[2014-11-06 10:22] ubaldo opened #34 "Thread running after request in app engine"
In google app engine I consistently get the following error (not always, but very often). See stack trace below

The effect is that the event doesn't get recorded. When I first encounter this, I tried to isolate the call to analytics.track() in a task (using the handy deferred library), to avoid side effects on a user facing http request. So, I sleep better but still many events don't get recorded

[2014-12-13 02:38] collinanderson opened #35 "add Python 3 classifier to pypi"
This will correct report analytics-python as being python3 compatible.

Programming Language :: Python :: 3

Here's an example of a python 3 checker that says this isn't compatible:

https://caniusepython3.com/project/analytics-python

[2014-12-13 21:04] #35 closed, assigned to nobody

[2014-12-19 19:03] ijl opened #36 "clean TypeError"
`analytics.utils.clean` will error if L43 `return _coerce_unicode(item)` is reached due to `_coerce_unicode` taking two arguments. This can be found by using Pylint: `No value passed for parameter 'cmplx' in function call (no-value-for-parameter)`.

[2014-12-19 19:03] ijl opened #37 "Test coverage"
Could you calculate test coverage on your build and link to it? This is useful in evaluating whether the use the library.

[2015-01-14 19:54] stevenmiller888 opened #39 "track event fails"
e.g. analytics.track(1, "Exception", {"fn": lambda x: x })

[2015-01-14 20:02] joshkehn commented on #39
To clarify this *silently* fails to send the event. It's way more common to be sending a different non-JSON encodable data structure (like a Django QuerySet, Decimal, or similar) than a inline function but the issue presents either way.

With an `on_error` function and `debug` flipped on this still silently eats the JSON error.

[2015-02-11 11:43] murielsilveira commented on #33
I was getting the same error and I just figured out what was going on by using the development settings in the documentation:

https://segment.com/docs/libraries/python/#development-settings

Then I realized the mistake I was making.
Hope this helps.

[code]

[2015-02-12 17:19] stevenmiller888 opened #41 "Might be an issue with selecting integrations"
e.g. { 'all': False, 'Mixpanel': True }

just wanted to get this on here. need to investigate more

[2015-02-12 18:44] calvinfo commented on #41
Looks okay to me?

https://www.dropbox.com/s/m3pga5i5ixmd4ym/Screenshot%202015-02-12%2010.43.17.png?dl=0

Are we sure they are using the most recent version of the lib and tracking something like:

[code]

[2015-02-12 19:09] stevenmiller888 commented on #41
Yup just wanted this up here to make sure I didn't forget to test it. Thanks for doing that! Just tested it and saw the same thing, and verified the event shows up in Mixpanel. Closing!

[2015-02-12 19:09] #41 closed

[2015-02-19 00:28] suhaasprasad commented on #34
Any update on this? I'm having the same problem and it's preventing me from doing anything with Segment.

[2015-03-17 19:12] alvinchow86 opened #42 "Package name should NOT be "analytics", rename to segment/segmentio"
The top-level package name really should be something unique, like **segmentio** or something. If you have another package or module loaded in your Python load path named analytics, a very common word, there is a name-space collision and it's possible (or very difficult) to resolve in Python

[code]

[2015-03-26 21:48] shakefu opened #44 "Allow analytics to operate in passthrough mode"
Would you be open to a PR that allows the analytics to operate without a write_key?

This would let developers directly integrate analytics in their apps but not actually write data to the API. Definitely useful for debugging and teams where there are variants of dev, staging, test and demo environments, where it's not appropriate to send data to Segment.

Otherwise a developer has to wrap the ana

[2015-03-26 23:05] calvinfo commented on #44
Hey Jacob,

What about something like:

[code]

Would that fit your use case? It wouldn't send but you'd need to supply a test key that you're using so it wouldn't error out.

[2015-03-27 11:35] jmgirven commented on #34
I would also be interested in an update.

[2015-04-11 00:14] sperand-io commented on #34
@f2prateek can we look at this together next week? Thanks!

[2015-04-19 21:08] mgummelt opened #46 "daemon thread exception"
This line: https://github.com/segmentio/analytics-python/blob/master/analytics/consumer.py#L15

...during process shutdown causes "Exception in thread Thread-1 (most likely raised during interpreter shutdown)"

this is a known problem with daemon threads: http://stackoverflow.com/questions/20596918/python-exception-in-thread-thread-1-most-likely-raised-during-interpreter-shutd

[2015-04-20 05:17] poswald opened #47 "Cast non-string objects to string types"
I previously hit this problem in this library, [fixed it](https://github.com/segmentio/analytics-python/commit/6310705df96fb8ee2faf0538443528f4b08a6850) and my PR was merged. Since then it seems like you rewrote much of it and reintroduced the problem. The problem is basically [with this line](https://github.com/segmentio/analytics-python/blob/fca319715715f54390960f017524e6c8117492d7/analytics/cli

[2015-05-14 15:20] tedmiston commented on #42
+1

It's kind of a pain to workaround this when we have a local app in our django project already called analytics.

[2015-05-27 14:41] greghball opened #48 "debug option to client works oddly (and doesn't work in python2.6)"
When you create an instance of the `Client` class and pass `debug=True`, the `__init__` method will execute

    self.log.setLevel('DEBUG')

and there are 2 problems with this.

1) `self.log` is the logger instance named 'segment' - it's the same instance for every client, so if you create multiple clients you can't use different values for `debug` or things get confused.

2) In python 2.6, you ca

[2015-05-27 17:35] calvinfo commented on #48
Yes, 2.6 should be supported! I think you've caught a bug on our side, and
we should probably allow some way of configuring the logger passed in.
Happy to accept PRs for that :)

On Wed, May 27, 2015 at 7:41 AM, Greg Ball <notifications@github.com> wrote:

[2015-06-16 22:29] gitumarkk opened #51 "Segment causing celery workers to hang in django"
We use the django post save signal to trigger segment analytics tracking asynchronously using celery. However when multiple events (about 350 in 20 seconds) are created, all the celery workers hang up consistently at the following output.

`[2015-06-12 22:41:34,245: INFO/Worker-2] Starting new HTTPS connection (1): api.segment.io
[2015-06-12 22:41:34,574: DEBUG/Worker-2] "POST /v1/batch HTTP/1.1"

[2015-06-23 06:39] #44 closed

[2015-06-23 06:39] calvinfo commented on #36
Fixed in #53

[2015-06-23 06:39] #36 closed

[2015-06-23 06:42] calvinfo commented on #48
Fixed in #53

[2015-06-23 06:42] #48 closed

[2015-06-23 07:27] calvinfo commented on #47
Sorry for the long delay here, should be fixed by #54!

[2015-06-23 07:28] calvinfo commented on #39
Sorry for the long delay here, should be fixed by #54!

[2015-06-23 07:28] calvinfo commented on #33
Closing for now, let me know if I should re-open!

[2015-06-23 07:28] #33 closed

[2015-06-23 07:43] #47 closed

[2015-06-23 07:43] #39 closed

[2015-06-23 07:56] calvinfo commented on #19
added in 1.1.0

[2015-06-23 07:56] #19 closed

[2015-06-23 20:27] shakefu commented on #44
Hey, this fell off my inbox.

We ended up writing a thin wrapper that does passthrough if there's no write_key set. I'll see if I can get a PR together if you're interested.

[2015-07-13 11:40] leotsem commented on #51
Possible related https://github.com/celery/celery/issues/2429

[2015-08-13 12:44] aidos opened #55 "App freezing with uwsgi"
I've just been trying to track down a really weird issue with running segment in flask under uwsgi. I'm explicitly creating the segment client myself.

The curious (non-app loading) bits of uwsgi look like this:

[code]

I actually contact segment during the starting of the app - which may be what's causing the issue. The code looks a little like this:

[code]

I have a whole lot of totally separa

[2015-08-13 14:41] aidos commented on #55
So I found the fix for this (in my case).

I enabled `--lazy-apps` in the uwsgi config as detailed in this stackoverflow question. It causes the the app init to happen *after* uwsgi has forked the workers. The trade off is less copy-on-write shared memory. In my case that's not an issue because I only run a single worker.

http://stackoverflow.com/questions/22752521/uwsgi-flask-sqlalchemy-and-post

[2015-08-13 15:05] #55 closed

[2015-09-02 10:57] graingert commented on #23
TLS v1.0 is supported on the server now

[2015-09-02 10:58] graingert commented on #42
:+1:

[2015-09-15 08:27] 23doors commented on #51
I am also experiencing something similar. And in my case it was also narrowed down to analytics library. I haven't tried higher rate limits but it still blocks after a while even with mild traffic.

[2015-09-17 00:47] sperand-io commented on #51
hey all, thanks so much for the report and apologies for the delay getting back on this sooner.

@calvinfo @f2prateek any idea here?

[2015-09-21 11:09] maiiku commented on #55
@calvinfo this info about uwsgi should be put in docs in large print

[2015-09-23 04:47] gadybadger opened #57 ""No module named analytics" error in Python"
I have followed the [instructions for installing the Python library](https://segment.com/docs/libraries/python/), specifically for Django.

I ran `pip install analytics-python`, but when I try to add `import analytics` anywhere in my project, I get `No module named analytics` in both the PyCharm IDE and when running the app. I have confirmed that I'm using the correct Python Interpreter and `analy

[2015-09-29 19:54] brettpthomas opened #58 "Add versioning to setup.py requirements"
I had a previous version of python-dateutil (1.5) installed from another library, which broke `pip install analytics-python`.

[2015-10-14 16:40] saebyn commented on #42
:+1:

[2015-10-14 17:39] zen-jyoo commented on #42
+1

[2015-10-27 14:43] shredding opened #59 "Docs - urls.py vs App Ready"
The docs state that I have to import analytics on the toplevel of django:

https://segment.com/docs/libraries/python/#django

First of all, this is outdated, as there is now an App Ready Hook Point in django: https://docs.djangoproject.com/en/dev/ref/applications/#django.apps.AppConfig.ready

Second: Can you elaborate why you are so fancy about having this in my urls.py?

I do not want to hardcode

[2015-10-27 17:52] calvinfo commented on #59
Totally. Good call on `ready` we can add that to our docs.

As for why it's called once, we spawn a new thread to make requests out of band so that it doesn't block your main program's execution, and so that we can take care of batching requests. We want to make sure that you're initializing once during the course of your program's run, so that we don't end up spawning a new thread on every reques

[2015-12-03 21:41] Jonovono opened #62 "App Engine Stripped prohibited headers from URLFetch request: ['Content-Length']"
Getting this error running on appengine and the requests get blocked at it. Any idea?

[2015-12-04 00:35] Jonovono commented on #34
Any update on this?

[2015-12-25 06:36] f2prateek commented on #37
I Don't have the numbers on hand, but it's likely something we're not going to add in the docs.

[2015-12-25 06:36] #37 closed

[2016-01-08 19:32] zartux commented on #42
:+1:

[2016-01-09 02:05] cjhenck opened #63 "Decimals cause an error"
Decimals are not serialized by the built in json package, but the code in analytics-python/analytics/utils.py reads:

[code]

Decimal is a numeric type so it is returned, but it should be cleaned somehow first.  Ideally this would be a custom JSONEncoder subclass (so that the string value of the JSON will be sent), but a float() conversion would help.

[2016-01-21 10:15] shredding commented on #51
Updates?

[2016-01-21 19:28] calvinfo commented on #51
Unfortunately I haven't gotten a chance to deeply investigate here.

One question though, how are you using celery (multiprocessing, eventlet,
gevent)? Since the library itself does its own threading, there might be
some issues when used with other multi-threaded libraries. We keep one
thread per client-instance (so it's non-blocking), so you won't want to
constantly create new clients in the work

[2016-01-21 19:38] 23doors commented on #51
We are using multiprocessing with 1 thread per process. In our case, subclassing Client class and changing queue to JoinableQueue (from multiprocessing module).
Haven't investigated that much, but this may be related to how celery handles multiprocessing (through billiard https://github.com/celery/billiard) and it seems that queue object is shared across processes which is causing issues (as queue

[2016-01-22 08:46] shredding commented on #51
I think a proper solution would be to make the threading part optional. The idea to introduce celery is the same - push the processing away from the request/responce cycle, so it's double-trouble to have both of them in the way.

[2016-01-23 00:18] calvinfo commented on #51
I'd be supportive of that. We could end up passing in an option to force
synchronous calls in the case where you're using a queue or workers.

On Fri, Jan 22, 2016 at 12:46 AM, Christian Peters <notifications@github.com

[2016-02-01 23:02] salvador-dali commented on #33
@calvinfo can you please reopen this one.

[code]

gives me the same error:
[code]

[2016-02-01 23:08] calvinfo commented on #33
Hey @salvador-dali you'll need to add a handler for the segment logger to get it to output messages properly. We should add it to our docs as well, but in that case it likely means that your call went through successfully. If you call `analytics.flush()` you should be guaranteed to see it.

To get rid of the handler message, do something like this:

[code]

Where you add whatever your handler is.

[2016-02-01 23:21] salvador-dali commented on #33
@calvinfo thanks for a quick reply. This solved my problem.

[2016-02-04 16:08] patillacode opened #65 "analytics.track() - asynchronous"
Hi there,

I have been working with Segment's analytics-python module for a little while now.

Today I discovered that for example the `track` method is *asynchronous*.
I never realized this before, since I usually use it within services that are always up (listeners, queues, etc)

Today I had to do a simple script to read from a file and push some data into my Segment bucket. Surprisingly when I

[2016-02-04 17:48] calvinfo commented on #65
The best thing to do is to add an `analytics.flush()` before your worker exits. It should block execution until all messages are flushed!

[2016-02-04 17:48] #65 closed

[2016-02-04 18:37] patillacode commented on #65
Cheers for that @calvinfo

I didn't see it before, I appreciate.

Thanks again.

[2016-02-08 20:06] salvador-dali opened #66 "Give an ability to overwrite messageID"
Currently I have not found a way to overwrite messageID. Python's library [sets it automatically ](https://github.com/segmentio/analytics-python/blob/master/analytics/client.py#L178)

[2016-02-08 23:01] m-vdb opened #67 "Remove param={} from all the methods"
Hi there,

The issue with [having mutable default arguments](https://github.com/segmentio/analytics-python/blob/master/analytics/client.py#L44-L45) is [that](http://docs.python-guide.org/en/latest/writing/gotchas/#mutable-default-arguments). Usually it can be replaced by `param = param or {}` or `param = param or []`.

Max.

[2016-02-08 23:10] calvinfo commented on #67
Agreed, happy to accept PRs to fix this behavior!

On Mon, Feb 8, 2016 at 3:01 PM, Maxime Vdb <notifications@github.com> wrote:

[2016-02-08 23:26] calvinfo commented on #67
Fixed by #68

[2016-02-08 23:26] #67 closed

[2016-02-08 23:31] m-vdb commented on #67
ah you were quicker than me. Also, you might want to enable linting in your CI. You would have detected such issues :)

[2016-02-08 23:32] m-vdb commented on #67
thanks!

[2016-02-09 00:19] f2prateek commented on #66
This might be tricky to implement without breaking API compatibility.

[2016-02-27 01:54] Dieterbe opened #69 "<type 'exceptions.ValueError'>: list.remove(x): x not in list"
Hi,
we signed up for your service and are trying it out for the first time.
i wrote a simple script (not threaded) that sends some data but it crashes with this error, which seems to be caused by your library.

[code]

[2016-02-27 02:20] f2prateek commented on #69
Can you share the script? So we can reproduce the failing case.

[2016-02-27 03:08] Dieterbe commented on #69
here you go https://gist.github.com/Dieterbe/5895835cdee93b807ad8

[2016-03-09 05:32] dcc635 commented on #58
We also ran into this issue. We freeze our python-dateutil version which we import in our application to make sure nothing breaks if a new version is released. Because analytics-python always uses the latest version of their dependencies, that conflicts with our frozen version. You can read more about the conundrum we are in [here](http://blog.miguelgrinberg.com/post/the-package-dependency-blues).

[2016-03-10 22:03] calvinfo commented on #58
Makes sense to me–what version are you all running? Locally I have the
following.

[code]

Let me know and I can update the lib!

On Tue, Mar 8, 2016 at 9:32 PM, Dan Cleary <notifications@github.com> wrote:

[2016-03-10 22:29] dcc635 commented on #58
Hi and thanks for the response (your support team was a bit less helpful FYI). Here are our current versions (we've already changed our python-dateutil version to match yours).
[code]
We're on analytics-python==0.4.4. Please let me know when you've published a release with versioning and we'll update to the latest version of analytics-python.

Thank you!

[2016-03-11 20:17] calvinfo commented on #58
Okay, they're pinned now in `1.2.0`. Happy to accept PRs to loosen the requirements!

[2016-03-11 20:32] calvinfo commented on #58
Erp, one sec. Missing python3 deps, I'll fix it now.

[2016-03-11 22:12] calvinfo commented on #58
Okay, actually fixed and passing in `1.2.1`. Happy to relax requirements as well as long as tests pass. Thanks all!

[2016-03-11 22:12] #58 closed

[2016-03-11 22:39] dcc635 commented on #58
Thanks for the help so far. If I'm not mistaken though, I believe this will not solve the problem for us in the future. The reason we ran into our issue is that there was no upper bound on the versions. So when we installed analytics-python in our build, it installed the latest and greatest of these packages for us, which our build wasn't ready for (we use these same packages elsewhere in our code

[2016-03-11 22:40] calvinfo commented on #58
Yes, you're right. Happy to accept a PR for it :)

On Fri, Mar 11, 2016 at 2:39 PM, Dan Cleary <notifications@github.com>
wrote:

[2016-03-24 18:10] thinq4yourself commented on #62
This is a GAE message that you can't turn off, and it seems other people see it regardless of app or endpoint they are reaching via http.

Have you noticed your Segment `analytics.track()` methods are hanging and not returning a response? The vent gets tracked in Segment, but the request is stuck until I clear all requests out of the HTTP server or restart app.

[2016-03-24 18:12] thinq4yourself commented on #34
:+1: bump... Any update on this?

[2016-03-28 17:40] david0673 commented on #34
any update?

[2016-03-30 00:27] dwieeb opened #74 ""Python's standard datetime object is broken""
This is a documentation issue, but I figure it may be best to talk directly to developers.

https://segment.com/docs/libraries/python/#timezones-in-python

Python datetime objects are not "broken". The Python datetime module, in fact, is one of the best standard library implementations of all the programming languages I've worked with. The Python core devs knew timezones were [difficult to work wi

[2016-03-30 13:56] sigmavirus24 commented on #74
My recommendation would be to update the documentation to provide an example of how to add timezone information, either with `pytz`, the `datetime` library itself, or (preferably) both. It's not terribly hard and a little Google search should help you find how to do that appropriately.

[2016-03-31 07:41] masklinn commented on #74
Of note, in Python 3 the maintainers added [a UTC instance to the standard library](https://docs.python.org/3/library/datetime.html#datetime.timezone.utc), and [built-in support for fixed-offset timezones](https://docs.python.org/3/library/datetime.html#timezone-objects). This support has also been added to strptime, so if you parse a datetime string with a fixed-time offset and the `%z` operator

[2016-03-31 09:17] sametmax commented on #74
Or really, just use arrow, which abstract all that stuff, and let you go from and to datetime when you need it.

[2016-03-31 10:47] masklinn commented on #74
Except that's not really what arrow does, it mostly asserts that there's no such thing as a date, a time, or a naive datetime.

[2016-05-09 20:42] #10 closed

[2016-05-09 20:43] #23 closed

[2016-05-09 20:49] hankim813 commented on #57
I'll close this based on the date of the issue -- please let me know if this is still an issue and I'll reopen!

[2016-05-09 20:49] #57 closed

[2016-05-09 20:49] #59 closed

[2016-05-09 20:50] #62 closed

[2016-05-09 20:53] hankim813 commented on #66
I'll close this for now as this sounds like more of a feature request-- would be interested in hearing use cases for why you might want to overwrite the messageId

[2016-05-09 20:53] #66 closed

[2016-05-10 02:58] chrisdl commented on #23
2 years later the journey comes to an end =). Thanks to all involved. :shipit:

[2016-05-10 09:03] graingert commented on #23
You guys should really consider maintaining your open source packages
On 10 May 2016 03:58, "Chris DiLorenzo" <notifications@github.com> wrote:

[2016-05-10 16:37] trevoriancox commented on #46
This has been a problem for us too.

[2016-05-12 16:01] adamchainz commented on #42
@alvinchow86 you can solve the import collision by turning off implicit relative imports in Python 2.7 with

[code]

However this has been a big readability hassle for us as we had lots of code written generically for whatever analytics service(s) we'd use, and when we switched to Segment it became unreadable.

We now do:

[code]

etc. everywhere we use it!

[2016-05-12 16:03] adamchainz opened #75 "No changelog"
I'm upgrading from 1.1.0 to 1.2.3 and I have no idea what has changed

The [docs](https://segment.com/docs/libraries/python/) link to the [github releases atom](https://github.com/segmentio/analytics-python/releases.atom) which is useless as there is no metadata, jsut version numbers

The commit log is not readable when trying to determine the relevance of upgrades.

Please [keep a changelog](http

[2016-05-12 16:05] adamchainz commented on #63
`float` would be bad since it loses precision

[2016-05-12 17:18] tedmiston commented on #42
@alvinchow86 @adamchainz We can, but _shouldn't_ have to do that.

http://code.activestate.com/lists/python-ideas/30361/

[2016-05-12 17:19] tedmiston commented on #42
@alvinchow86 We can, but _shouldn't_ have to do that.

smell

http://code.activestate.com/lists/python-ideas/30361/

On Thu, May 12, 2016 at 12:01 PM, Adam Chainz <notifications@github.com>
wrote:

[2016-05-12 21:39] cjhenck commented on #63
`float` is definitely not the ideal solution, but as it is right now Decimals kill the serialization completely.  The proper thing would be to add a JSONEncoder subclass that handles Decimals as I mentioned.  From our end floats were OK for analytics purposes since segment doesn't feed into any finance systems for us (after all the messages are not guaranteed)

[2016-05-13 20:48] sperand-io commented on #75
Hey @adamchainz,

You're absolutely right. currently, we store these updates in https://github.com/segmentio/analytics-python/blob/master/history.md (and that should give you a sense of what's changed in the meamtime)  but we're working on implementing a completely standardized and more semantically valuable commit message / release message practice across our libs and integrations which, ultimate

[2016-05-13 20:48] #75 closed

[2016-05-15 09:06] adamchainz commented on #75
Ah thanks. I missed the `history.md` because it was in lower case - normally I scan for HISTORY, NEWS, or CHANGES - 99% of projects have it in uppercase.

[2016-06-02 21:56] sperand-io commented on #74
Thanks @dwieeb. Completely agree; point well made and very appreciated. @jgershen to accompany your release this sprint, would you mind updating the docs to reflect the proper approach and remove disparaging/embarrassing language? (And close this once it's done?) Thanks!

[2016-06-06 02:14] jgershen commented on #74
Yep, the stuff we had there sure is incorrect & embarrassing; I'll fix the docs. Thanks @dwieeb for bringing it to our attention!

[2016-06-06 20:38] #46 closed

[2016-06-06 20:39] #69 closed

[2016-06-06 20:45] #63 closed

[2016-06-06 21:47] jgershen commented on #63
Thanks for noticing and fixing this @cjhenck. I've included your patch in version 1.2.4. The point about subclassing JSONEncoder is noted for the future, too.

[2016-06-06 21:49] jgershen commented on #69
@Dieterbe Thanks for reporting this error! It is fixed in version 1.2.4 of this library.

A quick (additional) note -- when writing scripts like your sample gist, you'll want to also call `flush` before your script exits: https://segment.com/docs/libraries/python/#how-do-i-flush-right-now-
This will make sure any pending calls have been uploaded to Segment's servers before exiting.

[2016-06-08 23:08] jgershen commented on #74
Updated to remove the wrong language and add a brief description of how naive / aware objects work.

[2016-06-08 23:08] #74 closed

[2016-06-08 23:28] dwieeb commented on #74
check yo'self

👍

Thanks, this is great!

[2016-06-17 13:04] BrunoDesthuilliers opened #78 "Should not force dependency on python-dateutil < 2"
Starting with 2.2, python-dateutil is python 2 (>= 2.6.x) compatible, and quite a few other python2 packages depends on dateutil > 2.1.

[2016-07-02 22:03] jgershen commented on #78
Merged the PR and this is fixed in version 1.2.5.
Thanks for identifying and fixing this issue!

[2016-07-02 22:03] #78 closed

[2016-07-02 22:05] jgershen commented on #34
Looking at this old bug -- is this still an issue after the 1.2.5 release? We fixed some bugs around threading that might have contributed.

[2016-08-04 16:05] rhaarm commented on #42
Is it possible to consider changing this package name, or do I need to change it locally and rebase every time there is an update?

[2016-08-04 16:42] graingert commented on #42
[code]

[code]

[2016-08-04 16:44] adamchainz commented on #42
@graingert you better keep that up to date

[2016-10-24 17:30] tuxxy commented on #42
Is there a reason why this issue was closed? It's an exceptionally valid issue. My org is running into this issue right now and it appears many others are.

Let's not be unreasonable and come up with a valid solution, please. 👍

[2016-10-24 17:32] graingert commented on #42
@tuxxy probably better to stick with `pip install segment` I'm happy to add contributors to the project

[2016-10-24 18:01] astrodsg commented on #42
@graingert that seems like a good solution. Thought the `segment` version doesn't seem to have been updated in a long time (v0.2.0 instead of anaytics-python v1.2.5). Could it be updated with every new github release for the analytics-python repo?

[2016-10-25 19:51] astrodsg commented on #42
@graingert why is the version v0.2.0 and not v1.2.5 if it's suppose to be just a wrapper?

[2016-10-25 20:06] f2prateek commented on #42
@graingert's wrapper is following it's own versioning scheme (independent of analytics-python's versioning). If you download the source code from https://pypi.python.org/pypi/segment/0.2.0, you'll see it has the latest relevant changes (commit in our repo https://github.com/segmentio/analytics-python/pull/79, and in segment package on pypi https://cloudup.com/c4EegesqVjE).

Effectively it's up to

[2016-10-25 21:55] graingert commented on #42
It's not a wrapper

On 25 Oct 2016 20:51, "Dylan Gregersen" <notifications@github.com> wrote:

[2016-10-25 21:56] graingert commented on #42
I'll transfer the name across if segment want to keep it updated

On 25 Oct 2016 21:06, "Prateek Srivastava" <notifications@github.com> wrote:

[2016-10-29 14:28] cdman commented on #34
Yes, this is still a problem with the latest version as of now (version 1.2.5).

To recapitulate:
- Google Appengine does not support background threads for frontend instances (the instance type you generally want to use)
- Starting (and not stopping) threads on GAE will make your request "hang" because it requires each thread started during the request to finish before it finishes

To use the lib

[2016-11-02 18:21] m-vdb opened #84 "_coerce_unicode() is wrong"
Hi there,

I noticed that in your [`clean()`](https://github.com/segmentio/analytics-python/blob/master/analytics/utils.py#L37-L48) function that sanitizes data before sending it to your API, if you encounter an unknown type, you will end up trying to coerce it to unicode, by using the [`_coerce_unicode()`](https://github.com/segmentio/analytics-python/blob/master/analytics/utils.py#L66-L76) funct

[2016-11-03 12:31] cdman commented on #34
Ok, to work on GAE, you need to monkeypatch it like this:

[code]

This forces all the messages to be sent synchronously and stops any running extra threads to prevent GAE from locking up by waiting on those threads.

[2016-11-04 13:36] kmctown commented on #51
Hey all, new to segment and looking to use this package from the server. We already have a celery/rabbitmq task queue pattern, and am concerned about bringing this package in based on this thread? Is this still an issue worth worrying about? If so, considering just making standard REST calls?

[2016-11-04 14:11] shredding commented on #51
we ended up not triggering segment from with celery, but from within the request. Don't like that solution, but this package is not exactly under what you'd call active development.

[2016-11-04 14:33] kmctown commented on #51
Gotcha. Thanks for the info, @shredding. No worries about potentially dropping events there? Are you just trusting the internal queueing mechanism?

[2016-11-04 20:56] shredding commented on #51
Not really ...

[2016-11-14 12:20] superprat commented on #57
Ran into the same problem

[2016-11-29 20:34] wojcikstefan opened #85 "analytics.flush can hang forever if analytics.send == False"
Calling `analytics.flush()` makes the shell hang forever, even keyboard interrupts don't work.

[code]

Two alternative options how to improve the behavior if `analytics.send` is set to `False`:
1. `Client._enqueue` should never put items into the queue (it still makes sense to do everything else that that method does so that its behavior can be covered by unit tests).
2. Let `Client.flush` return

[2016-11-29 20:42] f2prateek commented on #85
I'm not totally sure if the `send` parameter is meant to be mutable — it's only meant to be set during initialization.

Neither should flush shouldn't block indefinitely, but I don't think it should raise an exception either (I think the use case is injecting a no-op client), instead it should just do an early return.

If `_enqueue` were to not add to the queue, where would we add the message to t

[2016-11-29 20:58] wojcikstefan opened #87 "Drop Python 3.2 support"
As you can see under https://github.com/kennethreitz/requests#feature-support, `requests` (your dependency) doesn't support Python 3.2 anymore. New versions of virtualenv don't either (https://virtualenv.pypa.io/en/stable/changes/#id12).

[2016-11-29 22:12] wojcikstefan commented on #85
Agreed, but in this case I don't *modify* its value. See https://github.com/segmentio/analytics-python/blob/master/analytics/__init__.py#L48 - the `Client` is initialized upon the first `_proxy` call, which in the sample above happens when I call `analytics.track`.

I think the rest of your comment is covered by #86 .

[2016-11-29 22:39] #87 closed

[2016-11-29 23:35] m-vdb commented on #84
@jgershen can we improve this here?

[2016-12-08 03:35] #85 closed

[2017-01-19 21:08] mchristen opened #89 "Weird error while running on AWS Lambda"
When trying to flush the event queue I get the following error

```error uploading: [Errno 2] No such file or directory```

I added some print debugging to get the full stacktrace and this is it
[code]

[2017-01-23 19:14] hadrien opened #91 "Date objects fail json serialization"
Date objects fail json serialization:

[code]

[2017-01-25 20:29] #91 closed

[2017-02-02 19:16] pusnik commented on #42
+1

[2017-04-27 16:04] nedgar commented on #66
One use case for us is to avoid duplicate events (in Segment and Amplitude) if we re-send events (based on our local store). This avoids having to maintain bookkeeping on which events have been sent already. e.g. I can say: push events in last day, without having to worry about the fact that the last update was ~20 hours earlier, not exactly 24 hours.

[2017-04-27 16:09] f2prateek commented on #66
@nedgar yeah I think there are good use cases for this. I'd be open to seeing a PR that adds this without breaking API compatibility.

[2017-05-08 18:52] hadrien opened #94 "Date objects are removed from event properties"
[code]

It should not be removed as json serializer permits date object.

[2017-07-05 16:35] jorgemdnt opened #96 "Not all "tracks" being sent using Celery"
Hello there! I have a problem upgrading to versions >1.2.3.

We had code that was something like this:
[code]
Inside the task there is the usual `analytics.track`.

Every day this code is ran with about 100 to 150 "models". It worked on every model until we tried to upgrade to 1.2.4 and above. There is no exception thrown, no errors on any tasks, but only about 10% ~ 20% from the tracks are sent.

[2017-07-10 20:57] jhh3000 commented on #42
+1

[2017-07-11 19:37] jhh3000 opened #97 "API calls being dropped due to improper queue.empty() call"
Possible root cause of https://github.com/segmentio/analytics-python/issues/96

We were batching API calls (~5000 per day) to .identify() but were seeing 80% losses. The issue is that you are calling queue.empty() after the previous member was pulled from the queue, but before the next member was added. This resulted in a batch size greater than the default upload size (100), which resulted in tot

[2017-08-16 09:39] gcs-github opened #100 "Missing GitHub tag / release for 1.2.7"
Hello,

While https://pypi.python.org/pypi/analytics-python/1.2.7 seems to be the latest release, an equivalent `1.2.7` release / tag wasn't published on GitHub

It'd be helpful to have it here so we can keep track of the project on GitHub as well. Thanks! :)

[2017-09-19 12:40] m-sanders commented on #94
Are there any plans to get this merged and release a new version anytime soon?

[2017-09-19 13:30] hadrien commented on #94
Hi @f2prateek, any chance to have this merged and released? Thanks a lot!

[2017-09-19 19:53] #94 closed

[2017-09-21 04:07] #97 closed

[2017-09-21 04:08] f2prateek commented on #100
Done, sorry about the delay!

[2017-09-21 04:08] #100 closed

[2017-09-21 04:19] f2prateek commented on #96
Closed by #97

[2017-09-21 04:19] #96 closed

[2017-09-23 20:59] jamiemccrindle commented on #42
+1

[2017-09-23 21:47] jamiemccrindle commented on #42
I've created a renamed version at https://pypi.python.org/pypi/segmentio for anyone who needs it. Repo at https://github.com/jamiemccrindle/segmentio.

[2017-10-31 20:18] jordanambra commented on #42
Thanks @jamiemccrindle. We have this same issue.

[2017-11-22 23:49] f2prateek opened #101 "Synchronous Mode"
I think both https://github.com/segmentio/analytics-python/issues/34 and https://github.com/segmentio/analytics-python/issues/51 are symptoms of the same underlying issue - that our threading does not play nicely with Celery and Google App Engine.

As @calvinfo mentioned in https://github.com/segmentio/analytics-python/issues/51#issuecomment-174096065; the right solution would be to allow users to

[2017-11-22 23:49] f2prateek commented on #34
Merging into https://github.com/segmentio/analytics-python/issues/101

[2017-11-22 23:49] #34 closed

[2017-11-22 23:49] f2prateek commented on #51
Merging into https://github.com/segmentio/analytics-python/issues/101

[2017-11-22 23:49] #51 closed

[2017-11-22 23:52] f2prateek commented on #101
Two potential paths we can take here:

1. Make it easier to user the internal models and underly HTTP API wrappers publicly.
2. Add some option to the client so it operates in synchronous mode.

[2017-11-22 23:56] f2prateek commented on #42
Tracking internally here as well https://segment.atlassian.net/browse/LIB-115

[2017-11-23 00:10] f2prateek commented on #84
Tracking internally here https://segment.atlassian.net/browse/LIB-116.

I'm not entirely sure what you mean by : `enhance logging with more context so that when errors come up, we can actually retry sending the full event `. Retrying the same message as is will result in the same error being logged.

[2017-11-23 00:11] f2prateek commented on #89
Is this still an issue? I'm actually a bit surprised given that we use ACM issued certs - so it's weird AWS Lambda wouldn't accept AWS issued certificates.

[2017-11-23 00:11] #89 closed

[2017-11-23 00:20] f2prateek commented on #42
Renaming the package name to `segment` doesn't seem like a practical solution here. Here's a good discussion (albeit in Ruby) around this https://github.com/rails/journey/issues/49#issuecomment-8720991.

https://github.com/segmentio/analytics-python/issues/42#issuecomment-218803671

This seems like a reasonable workaround. Are there any practical concerns to not using this (other than Guido's comm

[2017-11-23 00:22] graingert commented on #42
Please just rename the module and bump the major version

On 23 Nov 2017 00:20, "Prateek Srivastava" <notifications@github.com> wrote:

[2017-11-23 00:27] f2prateek commented on #42
@graingert I don't think's a practical solution here - someone could easily have a module named segment and we'll be back to square one.

What are your arguments against https://github.com/segmentio/analytics-python/issues/42#issuecomment-218803671?

[2017-11-23 00:48] graingert commented on #42
That's fine because it matches your PyPI name

[2017-11-23 18:53] adamchainz commented on #42
@f2prateek 'as' imports *are* a bit ugly, and make the code harder to read. If you can just rename it once and solve it for everyone then that is the easiest path

[2017-11-27 16:52] jordanambra commented on #42
I don't understand why you're worried that someone's going to have a module named segment but not worried that someone's going to have a module named analytics. Analytics is a common module name I've seen in 6 different companies so far; probably nobody else is calling their module segment except for you guys, and I'm sure they would be empathetic if they had a conflict since you have a brand arou

[2017-11-27 19:31] f2prateek commented on #42
I have the following concerns with renaming to `segment`:
* Making people have to update their code and migrate their implementations to accomadete this change
* It's also about consistency, we have 10 other using the same name `analytics` (https://github.com/segmentio?utf8=✓&q=analytics&type=&language=).
* the problem isn't fully 100% mitigated. I understand how fewer people will run into a confl

[2017-11-27 19:31] #42 closed

[2018-01-31 16:06] hobbestigrou opened #103 "About django."
About the documentation of django:

https://segment.com/docs/sources/server/python/#django

It can be interesting to referenced this little django project:

https://github.com/SteelSeries/django-segment

Integrate analytics on django.

[2018-01-31 23:45] f2prateek commented on #103
Thanks, I'll take a look at the project. That repo itself is very sparse in documentation though, I've love to see some more documentation around the setup and take aways!

[2018-02-05 12:44] mdornseif commented on #34
You can get usable results on google app engine by manually flushingrushing and exiting the thread. General idea:

    analytics.identify(self.credential.uid, context)
    … do your stuff …
    analytics.flush()
    analytics.default_client.consumer.pause()  # this EXITS the thread

[2018-02-07 08:56] hobbestigrou commented on #103
You're right I totally agree with you, that why i made a contribution to the project.

[2018-02-16 17:15] jklukas opened #104 "Incorrect order or args to APIError"
See https://github.com/segmentio/analytics-python/blob/8c4b39a54075a9ca3dedcf9539099149672a7fdf/analytics/request.py#L35

In that line, the order or arguments to APIError is incorrect, leading to actual error messages looking like:

[code]

What's expected is probably:

[code]

[2018-02-16 17:36] f2prateek commented on #104
Ah yep, that looks like a typo to me. The constructor is declared as `def __init__(self, status, code, message):`. I've triaged this internally in our JIRA board, https://segment.atlassian.net/browse/LIB-250; we'll post back here when there's an update!

[2018-02-16 17:53] jklukas commented on #104
Thanks, @f2prateek !

[2018-03-12 19:26] savraj commented on #34
about to add segment to a google app engine project. going to try mdornseif's idea.

[2018-03-19 18:33] russlevy commented on #101
Synchornous mode would be great for me as well.

[2018-03-19 22:53] samcheng commented on #101
Russell, I have a modification that has been working for me
(synchronously).  Let put put it up on github (one of these days when I
have time) to share.

On Mon, Mar 19, 2018 at 11:33 AM, Russell Levy <notifications@github.com>
wrote:

[2018-03-19 22:55] savraj commented on #101
the solution for google app engine (for me at least) is to use the built in task queue and just use the http api with urlfetch

[2018-03-20 06:46] poswald commented on #101
That pull looks good but Is there going to be a way to configure/explicitly specify a `SyncConsumer` even if you're not in AWS Lambda or Google App Engine?

[2018-03-20 23:21] samcheng commented on #101
https://github.com/segmentio/analytics-python/pull/105 works for me.  It bypasses the Consumer class entirely.  I've been using it for backfills, which appear to exacerbate the Celery issue.  We're on Heroku instead of GAE, for what it's worth.

[2018-06-26 20:11] GautamGupta commented on #104
The log format would actually work just fine for the other use case:

https://github.com/segmentio/analytics-python/blob/8c4b39a54075a9ca3dedcf9539099149672a7fdf/analytics/request.py#L33

[2018-07-05 19:00] careless25 opened #110 "Can't start new thread"
[code]

Running into this on AWS Lambdas. analytics-python v1.2.8

[2018-07-05 19:14] f2prateek commented on #110
Are we allowed to start threads in AWS Lambda?

[2018-07-05 19:17] careless25 commented on #110
@f2prateek this was working fine until very recently and we have been using this for the past 6 months with AWS lambdas.

[2018-07-05 19:18] f2prateek commented on #110
did you upgrade the analytics library version? which version was working before and which version broke?

[2018-07-05 19:19] careless25 commented on #110
We haven't upgraded. Have always been on v1.2.8. No changes there. Just suddenly (today) we are seeing a spike in errors for analytics.

[2018-07-05 21:21] f2prateek commented on #110
Sounds like something maybe changed in the AWS Lambda runtime or possibly in another part of your application in that case?

[2018-07-05 21:36] careless25 commented on #110
@f2prateek yeah, looking into other sources for the error as well. Thanks for your help. Closing for now

[2018-07-05 21:36] #110 closed

[2018-10-15 10:56] LukGerman opened #142 "error uploading: HTTPSConnectionPool(host='api.segment.io', port=443)"
Sporadically I get this error: `error uploading: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:748)'),))` Please help.

analytics-python v1.2.9
requests v2.18.4
last occurrence: 11/Oct/2018 19:29:56 UTC

[2018-10-15 17:56] nhi-nguyen commented on #142
Are you running OS X? There's a problem with some libraries needed by `requests` on OS X. `pip install pyopenssl ndg-httpsclient pyasn1 urllib3` seems to fix the problem for some people (https://github.com/requests/requests/issues/3006). Let us know if it applies to you.

[2018-10-15 18:08] nhi-nguyen commented on #66
Fixed in release [1.3.0b0](https://pypi.org/project/analytics-python/1.3.0b0/).

[2018-10-16 09:48] LukGerman commented on #142
I'm on a Ubuntu 16.04.1 and Python v3.6.2. I have also installed dependencies that you suggested. Because it happens sporadically I will test it for couple days and then will let you know if it's resolved or not. Thanks for quick response!

[2019-02-20 16:54] gojefferson commented on #101
Synchronous mode would be a great feature. I'm having problems using analytics with django-rq, and I think the problem would be solved if I could make synchronous calls when I want to.

[2019-04-08 15:27] EvanFarrell opened #144 "Max retries exceeded with url: /v1/batch"
Getting the following intermittently on my lambda app. It seems about every ~10 requests to `/v1/batch` have the connection refused by `api.segment.io`

[code]

requests==2.21.0
analytics-python==1.2.9

[2019-04-15 14:14] dmitry-mukhin opened #145 "Excluding one integration."
The [docs on destinations](https://segment.com/docs/sources/server/python/#selecting-destinations) do not cover the case when one wants to disable sending events to a specific destination.

I.e. I think it's ambiguous what the following call will result in:

[code]

should I add `'all': True` in `integrations` dict or is it implied?

[2019-04-28 02:13] #101 closed

[2019-05-01 19:30] MRPData opened #148 "Strange Compiling error w/ make"
Every time I try compiling the make file, this happens, is this problematic? Any insight?

[code]

[2019-05-13 09:51] harshit-sh opened #149 "Override default timeout value"
Hi, I am using the sdk and using the `analytics.track(...)` and `analytics.identify(...)` calls and I wanted to set the `timeout` parameter to a custom number. I can see that the default value is set to `15` seconds here: https://github.com/segmentio/analytics-python/blob/master/analytics/request.py#L37.

Is there a way to override it? Thanks!

[2019-05-20 10:02] lerela opened #151 "Support proxies"
We need to pass some proxy options to `requests` so that logs are properly forwarded through our infrastructure.

PR #150 achieves this by adding an argument to the classes Client and Customer.

[2019-08-30 11:32] kairichard opened #152 "Is this repository actively maintained?"
There are unanswered issues and pull requests coming in since April.
The last release was a pre-release also from April which didn't move forward from there.

As a new segment io customer, I feel like I can't rely on this SDK which makes me question my trust in the company. I would love to see someone taking ownership over this again.

[2019-09-20 13:31] p-duke commented on #152
Curious about this as well. The python sdk docs state that you can specify an `upload_size` property on `Client` but that's not available on the stable version 1.2.9. This is something we'd like to use but unsure if 1.3.0b0 or 1.3.0b1 is stable for production use.

Can you please advise to the state of this sdk and whether and the stability or future of the pre-release?

[2019-09-30 20:52] iMerica opened #154 "Rename package to segment-python and use a segment.analytics namespace"
Hey guys,

There is a vast ecosystem of "analytics" tools in the Python landscape. Believe it or not, the word "analytics" isn't just about tracking users on the internet.

https://en.wikipedia.org/wiki/Analytics

In acceptance of this reality, it would be very considerate to use a more specific namespace that begins with `segment` e.g `from segment import identify`. This way organizations that us

[2019-10-08 15:37] jdevera opened #155 "Request: Test under Python 3.7 and 3.8"

[2019-11-11 16:04] colemanja91 commented on #152
I would like to echo this. There are several issues I've found with using the distro found on PyPI, and did not realize it until I had installed directly from this repo using a git source instead.

[2020-03-09 20:23] lubird commented on #84
Closing issue. Please re-open if you think this needs to still be addressed.

[2020-03-09 20:23] #84 closed

[2020-04-10 10:51] kevinharvey commented on #142
I'm getting exactly the same sporadic behavior described by @LukGerman.

analytics-python v1.2.9
requests v2.23.0
python 3.6.10

I'll try the same fix.

[2020-04-16 17:55] rohitpaulk commented on #155
This was fixed in https://github.com/segmentio/analytics-python/commit/22090c7aa1477bc0164ff2de92cc7d3d90ac0706#diff-1d37e48f9ceff6d8030570cd36286a61

[2020-04-17 16:27] #148 closed

[2020-04-18 07:54] rohitpaulk commented on #148
@MRPData this happens when test dependencies aren't installed. Fixed now, if you run `pip install .[test]` all dependencies required for tests will be installed.

[2020-04-28 10:43] j1fig commented on #155
@rohitpaulk when can we expect a release with the official testing?

[2020-04-28 10:51] rohitpaulk commented on #155
@j1fig I don't have an exact date, but soon-ish (within a month or so)

[2020-06-08 15:16] jf commented on #152
Nobody from segment commenting?

[2020-07-08 11:25] eirikur-grid opened #167 "Update to a newer version of the backoff package or relax version restriction"
Version 1.6 of [backoff](https://github.com/litl/backoff), which this package depends on, is almost [two years old](https://github.com/litl/backoff/blob/master/CHANGELOG.md#v160---2018-07-14).

I'd like to use a more recent version in my Python 3.8 project but can't due to analytics-python having an exact dependency on version 1.6.0.

[2020-07-17 17:49] romelgomez opened #169 "AttributeError: 'module' object has no attribute 'track'"
Hi, I am experiencing this error, any idea what it might be?

[code]

[code]

[code]

[code]

[2020-07-18 21:02] joetheone opened #170 "Data not being pushed to Segment with Django + uWSGI + Supervisor"
Hi All,

Everything works great locally when using Django's runserver command, but when I put the code into prod no errors and raised and no events are being sent to Segment. I noticed all the events come in when I restart supervisor or if I explicitly call flush() after a call to track().

I suspect something in uWSGI or Supervisor is messing with the background threads. Any help would be appreci

[2020-07-18 21:10] joetheone commented on #170
For any poor soul who happens upon this, make sure you have `enable-threads = true1 in your uWSGI config.

[2020-07-18 21:10] #170 closed

[2020-07-28 12:55] ca-simone-chiorazzo commented on #152
Any news on this? We are a new to Segment we do not know if we have to use the latest beta or the stable release. I would also add that the documentation https://segment.com/docs/connections/sources/catalog/libraries/server/python/ is already pointing to feature that is in beta (I'm referring to the client options)

[2020-08-27 03:05] greghball opened #171 "Consumer objects stop working after fork()"
I have discovered that if you fork() your python process, the client in the new process has a consumer with a queue but there's no worker thread to consume anything from the queue, and sending anything just fails silently.

This happened to me when I switched from running our Django project under mod_wsgi to UWSGI. I solved it using the UWSGI "lazy-apps" option, but the analytics module could be i

[2020-09-21 21:07] #169 closed

[2020-09-23 10:13] ca-simone-chiorazzo commented on #154
Any news on this? Due to this naming, we had to refactor an internal package that was clashing with this SDK

[2020-09-29 10:07] advance512 commented on #167
+1 to this, it is a major issue with the new pip dependency resolver that might break some existing setups.
We are an example, some of our projects use `backoff` of a newer version, which was not a problem until now.

More info:
https://stackoverflow.com/questions/63277123/what-is-use-feature-2020-resolver-error-message-with-jupyter-installation-on

[2020-09-29 10:21] XiRoSe commented on #167
I'll add +1 to this issue as well, this breaks existing packages with the new pip-2020-resolver for my repositories as well, it says that the backoff==1.6.0 is a conflict with the newer backoff versions explicitly.

[2020-10-07 11:13] advance512 commented on #152
It seems like Segment doesn't care much about Python-based analytics, sadly..

[2020-10-07 11:13] advance512 commented on #167
Created a PR: #173

[2020-12-01 16:25] advance512 commented on #167
This has officially become a problem for us in production.
Do you think that Segment will pay more attention to the developers using its services now that it was purchased by Twilio?
@anoonan @lubird @rohitpaulk

[2020-12-09 16:59] rafaelbattesti opened #174 "When should release 1.3.0 come out - is this repo actively maintained?"
I am working on integrating generic Python backends with Segment.
I have a requirement to set the message ids from the backend client and noticed the last release available is `1.2.9` while there is code in the master branch that would allow me to do that, fixed on `analytics-python==1.3.0b0`.

Is anyone maintaining this repo?
Do you need help maintaining the repo?

[2020-12-17 17:10] steinnes commented on #174
I've been running the 1.3.x branch for over a year now, and I can report that it's quite stable.  That said I would be happy to contribute to development here in order to get the new version released.

Considering the level of sophistication generally encountered at Segment, I find this repository a bit scruffy.  Needs love, and the community can probably provide some :-)

[2021-03-19 23:50] dip-thistle commented on #152
Hey everyone, Is this repository still maintained?

[2021-03-24 15:59] heitorsampaio commented on #152
Hello guys, sorry about the delay. From now this repo will be back maintained.

[2021-03-24 16:00] heitorsampaio commented on #174
https://github.com/segmentio/analytics-python/issues/152#issuecomment-805948936

[2021-03-25 17:05] heitorsampaio commented on #145
Hey @dmitry-mukhin if you want to use all of your integrations, you don't need to pass the `'all': True` because by default the data is sent to all integrations.
So you just need to pass like that:

[code]

[2021-03-25 23:56] nd4p90x commented on #145
@dmitry-mukhin thanks for the question and @heitorsampaio thank you for the response.  If you have any further issues please let us know and we will re-open this ticket.

[2021-03-25 23:56] #145 closed

[2021-03-25 23:57] #174 closed

[2021-03-25 23:59] nd4p90x commented on #149
This is a configurable option in the newest version.  Thank you.

[2021-03-25 23:59] #149 closed

[2021-03-26 00:00] nd4p90x commented on #144
Max retries is an option in the latest version, thank you.

[2021-03-26 00:00] #144 closed

[2021-03-26 00:01] nd4p90x commented on #104
This has been resolved in the latest version of the LIB, thank you.

[2021-03-26 00:01] #104 closed

[2021-03-26 00:02] nd4p90x commented on #103
Docs have been updated, thank you.

[2021-03-26 00:02] #103 closed

[2021-03-26 00:04] nd4p90x commented on #142
This issue has been resolved in the latest versions, thank you.

[2021-03-26 00:04] #142 closed

[2021-03-26 00:11] nd4p90x commented on #171
Thank you for your comment, if you feel this is still an issue, please feel free to re-open the ticket.

[2021-03-26 00:11] #171 closed

[2021-04-07 18:02] #151 closed

[2021-04-07 18:05] #155 closed

[2021-04-09 19:22] heitorsampaio commented on #154
Hey guys, thanks for the advice we agree with that, in the next update we will change that.

[2021-04-15 11:40] heitorsampaio commented on #167
Hey guys, sorry about that, in our last PR we added the Dependabot to avoid this kind of things.

[2021-05-05 17:34] #167 closed

[2021-06-10 20:52] nd4p90x opened #183 "Python API Documentation Review"
- Badges on repo clearly indicating build status of latest commit
- The samples are concise/clear to cover all apis
- A customer wants to download code and run/build they should have all instructions
- There are clear instructions to setup dev env, e2e testing, fixtures and PR templates
- There is clear documentation around supported Python runtime versions and clear roadmap communication with rel

[2021-06-10 20:57] nd4p90x opened #184 "Generate Tagged Release"

[2021-06-10 20:57] nd4p90x opened #185 "Ensure Python methods exposed are modern/idiomatic"

[2021-06-10 20:58] nd4p90x opened #186 "Ensure Tests are complete and up to date"

[2021-07-13 20:59] pooyaj commented on #152
Looks like the `upload_size` is still not configurable.

[2021-07-14 17:42] #152 closed

[2021-08-12 15:56] samueldg opened #188 "Unpin `backoff` dependency"
The way the `backoff` library is currently specified in the `setup.py` doesn't allow users to upgrade it, as it's pinned to 1.10:

https://github.com/segmentio/analytics-python/blob/bf7168d7cb9bed5b1599928bca4d83fd468f31ce/setup.py#L27

`backoff` recently released 1.11.0 and 1.11.0: https://pypi.org/project/backoff/#history

This seems like the dependency was just not introduced with a permissive

[2021-08-13 14:15] nd4p90x commented on #188
@samueldg We would just need to ensure that the new version of backoff does not affect current functionality.  If you would like to submit a PR, I would be glad to test and get this moved forward.  Thank you.

[2021-08-13 20:02] samueldg opened #190 "Explicitly support Python 3.9"
Python 3.9 is the latest Python 3 version, but I noticed this package doesn't explicitly support it.

* Add Python 3.9 to CI.
* Add Python 3.9 to package classifiers in `setup.py`
* (Optionally) Use the Python 3.9 image in CircleCI for the publish job instead of Python 3.6 (Python 3.6 EOL is some time this year)

[2021-08-13 20:05] samueldg commented on #188
@nd4p90x

Submitted a PR: #189

The changelog doesn't seem to indicate any breaking change:

https://github.com/litl/backoff/blob/master/CHANGELOG.md#v1110-2021-07-12

but the proof will be in the testing 😄

[2021-08-18 19:57] #188 closed

[2021-08-18 19:59] #190 closed

[2021-09-29 17:34] #184 closed

[2021-09-29 17:34] #186 closed

[2021-10-04 22:31] samueldg opened #195 "Latest pull request reverted some changes I made"
I recently made some changed in two PRs:
* https://github.com/segmentio/analytics-python/pull/189
* https://github.com/segmentio/analytics-python/pull/191

When I came back to see if the changes had been released, I instead noticed that some of the changes have been reverted, accidentally it seem (?) by PR https://github.com/segmentio/analytics-python/pull/193

For instance, the bug that bought me

[2021-10-04 22:41] nd4p90x commented on #195
I will look into this, not sure how those changes were reverted just yet.  Thanks

[2021-10-04 22:47] samueldg opened #196 "Possibly unnecessary install dependency `appdirs`"
The current version of this library on `master` requires installing the `appdirs` library:
https://github.com/segmentio/analytics-python/blob/ea368aef3687747f5c504271a89219084adf34d3/setup.py#L29

If I'm not mistaken, this only seems to be used for CI:
https://github.com/segmentio/analytics-python/blob/ea368aef3687747f5c504271a89219084adf34d3/.circleci/config.yml#L27 which also installs it explici

[2021-10-05 15:03] nd4p90x commented on #196
Looking into this, I do believe you are correct.  Change coming soon

[2021-10-20 21:11] #154 closed

[2021-10-20 21:11] #195 closed

[2021-10-20 21:11] #196 closed

[2021-10-20 21:11] nd4p90x opened #197 "Documentation Update"
Update docs to reflect changes made for 2.2.0, including the namespace change

[2021-12-08 20:55] mgwilliams commented on #65
This is a very old thread, but still shows up on some Google searches. It appears the current solution is to set `sync_mode` to `False`:

https://segment.com/docs/connections/sources/catalog/libraries/server/python/#background-threads-and-synchronous-mode

[2021-12-17 22:56] sushruta opened #200 "question on not using on_error for next() method"
I was grokking the code and saw that `next()` method in analytics/consumer.py file [is not wrapped in a try-catch block](https://github.com/segmentio/analytics-python/blob/master/segment/analytics/consumer.py#L63). Why is it so? What would happen if something were to fail in the method?

specifically look at this line - https://github.com/segmentio/analytics-python/blob/master/segment/analytics/co

[2021-12-18 21:32] nd4p90x commented on #200
@sushruta I see your issue and will confer with the team regarding adding in the new exception to the list.  Thank you.

[2021-12-20 20:45] sushruta commented on #200
thanks a lot @nd4p90x.

[2022-01-05 00:12] #200 closed

[2022-02-01 16:30] wbbradley opened #203 "Allow usage of Enums in client code"
Currently the `analytics.utils.clean` method does not handle `str` based `Enum` values. It would be helpful if it did. Note that the standard library `json` package does.

I've created [this pull request](https://github.com/segmentio/analytics-python/pull/202) that I believe will address most if not all of this issue.

The issue manifests when the client program wants to use Enum values internally

[2022-02-02 00:33] #203 closed

[2022-03-07 23:55] spencerattick opened #206 "Update analytics-python version on pypi"
The latest version of analytics-python is 2.1.0: https://github.com/segmentio/analytics-python/blob/master/HISTORY.md#210--2022-03-04.

The newest available version in pypi is 1.4.0: https://pypi.org/project/analytics-python/.

Here it is in Segment's code: https://github.com/segmentio/analytics-python/blob/master/segment/analytics/version.py.

Can we get pypi updated to 2.1.0? 🙏

Thanks!

[2022-03-08 12:19] nd4p90x commented on #206
@spencerattick we are currently working on publishing 2.1.0.  It should be available this week.  Thank you.

[2022-03-09 20:27] nd4p90x commented on #206
@spencerattick https://pypi.org/project/segment-analytics-python/

Enjoy!

[2022-03-09 20:27] #206 closed

[2022-03-24 14:05] twhyte opened #208 "AssertionError when user_id=0 and anonymous_id=None"
Occasionally we need to send an event where `user_id=0` and `anonymous_id=None`. Attempting to do so produces the following error:

[code]

This error appears to originate in the type check made here: https://github.com/segmentio/analytics-python/blob/master/segment/analytics/client.py#L101
`user_id or anonymous_id` evaluates to None when `user_id` is equal to 0, since `or` returns the last object

[2022-04-05 12:35] pauricthelodger commented on #206
Hey @nd4p90x, would you mind making another release that includes the https://github.com/segmentio/analytics-python/commit/30108501d1e7b438f37eea9953454b0cfb11ddba fix? v2.2.0 won't run for us without it and v2.1.0 isn't available on there

[2022-04-05 14:44] nd4p90x opened #209 "Release new version of LIB"
User request to create a new version with latest changes for compatibility

[2022-04-08 20:11] nd4p90x commented on #208
@twhyte Hi, do you mind sharing with me your track and/or identify object so I can test?

Thank you.

[2022-04-08 22:02] emfloyd2 opened #210 "sync_mode=True does not utilize max_retries param"
Howdy. I wasn't sure if this is intentional, so I started with an Issue report.

It appears sync mode does not utilize retries (and backoff lib).

For reference:
https://github.com/segmentio/analytics-python/blob/master/segment/analytics/consumer.py#L125-L134

versus sync implementation:
https://github.com/segmentio/analytics-python/blob/master/segment/analytics/client.py#L280-L285

[2022-04-11 17:58] nd4p90x commented on #208
As per the documentation, field user_id is required and anonymous_id is required if there is not a user_id.  I am unable to replicate your results unless I do not have any entry in the user_id or anonymous_id field.  Even "0" and "None" register a valid response in the debugger.  It is not possible to pass in an identify object without a reference in the user_id field.  "0" and "None" are valid bu

[2022-04-12 14:19] twhyte commented on #208
@nd4p90x Thanks for checking into this for us! We are able to reproduce this issue in the context of a unit test. For context, we're using `analytics-python==1.4.0` together with the Segment Mock API container for testing purposes.

Here is the test payload we are working with for a track event:
```{'properties': {'cookie': 'oreo'}, 'event': 'test.event', 'context': {'traits': 'sample'}, 'timestam

[2022-04-15 23:36] rouge8 opened #211 "2.1.0 and 2.2.0 are missing from PyPI"
2.1.0 and 2.2.0 are tagged in the repo but aren't released on PyPI.

[2022-04-20 17:20] nd4p90x commented on #211
The namespace has been updated to better represent the product.  It was also conflicting with other projects that had a similar or same name.
https://pypi.org/project/segment-analytics-python/

[2022-04-20 17:20] #211 closed

[2022-04-20 17:34] rouge8 commented on #211
Ah, the README still mentions `pip install analytics-python`. I'll open a PR to fix that.

[2022-04-20 18:02] nd4p90x commented on #211
@rouge8 That sounds good, I was going to do the same, but please feel free.  Thank you

[2022-04-26 19:55] nd4p90x commented on #208
@twhyte Thank you for that.

I was able to re-create your issue, however, [due to the SPEC requirements](https://segment.com/docs/connections/spec/identify/#identities), at least one of the fields must be present and must have a valid number or string assigned to the datapoint.  The only way around this would be to assign strings to your variables when zero or none is valid for you.  At this time

[2022-04-26 23:00] #197 closed

[2022-05-11 17:34] #209 closed, assigned to pooyaj

[2022-05-11 17:59] nd4p90x commented on #210
@emfloyd2 Thank you for your inquiry.  After doing some research I found that you are correct and it is by design.

In the Python LIB there is an [experimental feature](https://segment.com/docs/connections/sources/catalog/libraries/server/python/#background-threads-and-synchronous-mode) called "`sync_mode`", `sync_mode` does NOT queue or batch messages, it sends them right away, synchronously.  Th

[2022-05-21 23:30] pkunapuli opened #213 "Add py.typed to make library PEP-561 compliant"
Per the [PEP-561](https://peps.python.org/pep-0561/) guidelines, can we add typing to this repository so all functions will register as typed for mypy?

[2022-05-30 10:29] skumar-0105 commented on #142
Thanks, the solution worked for me

[2022-06-09 00:04] samueldg opened #214 "Release the fix for missing `string_types` on PyPI version"
https://github.com/segmentio/analytics-python/pull/207 fixed an issue that makes this package unusable if you use the 2.2.0 version on PyPI, https://pypi.org/project/segment-analytics-python/) and try to import the `client`  module.

Could you please release this fix on PyPI so upgrading to this package + version is possible? Thanks!

[2022-06-20 21:27] shughes-uk commented on #214
Only reason this was working for me was because `analytics` was actually a very stale 1.4.0 version I had previously installed. Please release a fixed version

[2022-06-20 21:39] shughes-uk opened #215 "Support PEP517 build isolation"
Importing `analytics.version` results in `analytics.__init__` being imported which imports everything else. This results in things like dateutil being imported, breaking the install process.

You can reproduce this by installing `poetry` and running

`poetry add git+https://github.com/segmentio/analytics-python.git@master`

[2022-06-21 12:27] #215 closed

[2022-06-21 22:37] shughes-uk opened #218 "Logger spamming Exception:"
Logger spams `Exception:`  due to the issues i've outlined in the PR to fix this issue.

https://github.com/segmentio/analytics-python/pull/217

[2022-06-23 15:29] #218 closed

[2022-06-29 14:43] sugatoray opened #220 "Add a `LICENSE` file :fire:"
:fire: There is no license associated with this repository or the PyPI source. Please add a license file.

[2022-06-29 17:42] #220 closed

[2022-06-29 17:44] #213 closed

[2022-07-04 14:23] samueldg commented on #214
@pooyaj This issue has been closed, but there is no 2.2.1 or 2.3 release on PyPI: https://pypi.org/project/segment-analytics-python/#history

[2022-07-05 22:04] phrfpeixoto opened #222 "[Request] Profiles API"
Not sure if this is the place to request features (I couldn't find any on the documentation)...
But It would be great if the python wrappers for Segment could support Profiles API.

[2022-07-05 22:37] nd4p90x commented on #222
@phrfpeixoto this is the place!  We will review and discuss this request then decide if it is within our development path.  Keep an eye out for status changes.  Thanks!

[2022-07-13 18:04] nd4p90x commented on #222
Could you provide a bit more info on the Profiles API you are referring to?  Wasn't sure if you were referring to profilers or something else.  Thanks

[2022-07-18 08:45] ssutrisno opened #224 "PyPi v2.2.0 "NameError: name 'string_types' is not defined""
Hi there!

We are currently using `segment-analytics-python` v2.2.0 from PyPi and received the following error when calling `analytics.track()`:
`NameError: name 'string_types' is not defined`

I noticed that the `segment/analytics/client.py` has type check on `write_key` with `string_types` but I think the `master` branch is using `str` instead.

I think this issue is similar to  #214 but the pyp

[2022-07-18 14:27] janpeb opened #225 "A question about success response while in async mode."
Hello my friends. How are you doing. I hope this message finds you well. When we are using the library with sync_mode False, we take advantage of sending it using another thread decoupling from our main one(maybe in future we could have a asyncio based implementation). But at the same time I can't figure out how we could get the success result per event, because we only have the on_error callback.

[2022-07-18 15:40] joetheone opened #226 "Update backoff dependency?"
Hi there!

backoff 1.10.0 was released in late 2019. Any possibility this package could be upgraded to use backoff 2.x.x?

Thanks!

[2022-07-19 18:40] janbolmer commented on #226
Any updates here, we are having the same problems - conflict with this dependency

[2022-07-19 18:42] nd4p90x commented on #226
@janbolmer @joetheone I will be looking into updating this.  Please give me some time to test and complete the update.

Thank you,

[2022-07-22 19:22] #225 closed

[2022-08-03 14:31] nd4p90x commented on #224
@ssutrisno Sorry for the delayed response, could you please check your versions installed to ensure that you currently have the latest 2.2.0?  I am not sure how you continue to receive this error.  The update changed `string_types` to `str`, for you to receive that error tells me that there may be multiple versions or a mismatch of source.
Thanks

[2022-08-03 14:36] nd4p90x commented on #222
@phrfpeixoto following up with your request, could we get a little more clarification?  Thank you

[2022-08-03 17:44] nd4p90x commented on #222
Thank you for the suggestion, after discussion with the team, we don't currently have any plans to offer an SDK wrapper for Profiles API.

[2022-08-03 17:44] #222 closed

[2022-08-04 22:37] vitormorales commented on #224
@nd4p90x I'm receiving the same error. I installed the 2.2.0 version installed in a new project but seems that is using `string_types` still.

For instance:
`require('write_key', write_key, string_types)`

[2022-08-04 23:20] nd4p90x commented on #224
@vitormorales my apologies, I will look into it as soon as I can.

[2022-08-05 15:48] nd4p90x commented on #224
@vitormorales I gravel at your feet for forgiveness.  I am still unsure how that old code made it into the 2.2.0 release, regardless, I will resolve this issue as soon as I complete one other dependency upgrade.   I will post updates here.

[2022-08-05 21:07] vitormorales commented on #224
@nd4p90x No worries! Thank you to be on top of this. If I can help you lmk!

[2022-08-10 10:02] vitormorales commented on #224
@nd4p90x News?

[2022-08-10 14:21] jcalvesoliveira commented on #226
Same problem here. The GitHub repo is already updated, but the new version is not on PyPi yet. Any updates on this?

[2022-08-10 14:21] nd4p90x commented on #226
working on this now

[2022-08-10 17:40] #226 closed

[2022-08-16 00:17] CAATRV opened #230 "Improve error handling"
This python analytics library is pretty weak with regards to handling errors.
Two examples:
1 - if the incorrect 'write key' is given to the analytics client, it will still go through the motions, and if you turn on analytics.debug, it will even report that the data (for example of a track() call) was successfully uploaded to Segment. This is terrible because Segment themselves tell you to use ser

[2022-08-17 21:11] shraddha-twilio opened #235 "Change in date format for originalTimestamp"
Hi Team,
Based on my discussion with @pooyaj, we discovered that the value for `originalTimestamp` generates the date time string with microseconds instead of milliseconds. This is leading to malformed payloads and Segment is not processing calls with `originalTimestamp` value having sub-millisecond data in them. All other timestamp keys such as `sentAt`, `timestamp` and `receivedAt` have millisec

[2022-08-30 22:08] #185 closed

[2022-08-31 17:25] nd4p90x commented on #230
@CAATRV I understand that it is frustrating that you cannot confirm that the server has received your calls, this is by design, there is no two-way communication between the client and server.  The debugger is the only suggestion I can provide for you or anyone to verify that communication is occurring without error.

As for curl errors upon communicating, I would like to explore this further with

[2022-09-06 17:27] terra-alex opened #237 "Import analytics clash with standard library module"
Guidelines need to be change from the example mentioning to write

[code]

This clashes with python's standard library module also called analytics, and seems to be causing an issue on segment analytics 2.2.1 & Python 3.9.7

Instead, guidelines should be to use
[code]

Just caused an issue on production build for our application

[2022-09-06 17:32] nd4p90x commented on #237
@terra-alex Thank you for the request.  We will confirm and update the docs accordingly.

[2022-09-06 22:41] shalabhc opened #238 "`import analytics` broken in 2.2.1"
The [documented](https://segment.com/docs/connections/sources/catalog/libraries/server/python/) usage of segment-python-analytics doesn't work anymore with 2.2.1:

With 2.2.0:
[code]

With 2.2.1
[code]

Is there a backwards incompatible change that is documented?

[2022-09-06 23:10] MichaelGHSeg commented on #238
The recent release included a change related to the new namespace from the 2.0 update.  We didn't realize until this problem cropped up that the namespace change was previously incomplete, and the documentation has just now been updated to reflect the new behavior.

To resolve the issue, please update your import statement to the following:
`import segment.analytics as analytics`

[2022-09-06 23:10] #238 closed

[2022-09-06 23:12] MichaelGHSeg commented on #237
The docs have been updated, thank you!

[2022-09-06 23:12] #237 closed

[2022-09-06 23:41] nd4p90x commented on #224
@vitormorales Hopefully this resolves all of your issues, thank you.
https://pypi.org/project/segment-analytics-python/

[2022-09-07 02:41] #224 closed

[2022-09-07 11:27] terra-alex commented on #237
Hey @nd4p90x ! Just realized that this can be rewritten more easily as

[code]

which makes more sense even 😅 sorry about that!

[2022-09-21 20:06] cgrosman opened #239 "Documentation site is outdated and not aligned with the latest README"
Latest README instructs importing like `import segment.analytics as analytics`

However, the documentation [site](https://segment.com/docs/connections/sources/catalog/libraries/server/python/) still instructs to import like `import analytics` which leads to errors.

[2022-10-13 10:56] pecheneff opened #240 "Invalid base class for APIError"
We have a business logic which sends some events. In order to trigger retry logic on errors we catch some errors there e.g. `requests.exceptions.ConnectionError` and `analytics.request.APIError`.

When `APIError` raises we get a TypeError with the following message 'catching classes that do not inherit from BaseException is not allowed'. I suppose it's due to APIError has `Exception` as a parent c

[2022-10-27 18:03] SimonSchick commented on #226
Was this actually published, still getting version conflicts.

[2022-10-27 18:08] SimonSchick commented on #226
Nvm we were still using `analytics-python`, the package name change isn't exactly obvious from the docs :/

[2022-10-31 18:05] #240 closed

[2022-11-03 17:24] ronduursma opened #241 "Incorrect SQL test generated from Parameter with default_value"
I have a parameter like this:

[code]

[2022-11-03 23:17] lalyndsighart commented on #142
Hello there, any help on this would be greatly appreciated.  I am getting this error when trying to install a package which I think uses the api.segment.io to track it's telemetry:

error uploading: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify faile

[2022-11-29 13:56] MichaelGHSeg commented on #235
Addressed by PR #242

[2022-11-29 13:56] #235 closed

[2022-11-30 15:12] gevored opened #243 "The lib analytics in Databricks not delivery 100% of calls"
Hello

I am trying to iterate from a table using python in Databricks and send a identify and track call to a python source in Segment, but I noticed is not every rows/calls that arrive in segment, I didn't receive any erro when I execute  analytics.identify() or nalytics.track(), only a message on console "analytics-python queue is full" .

in my tests the volume of data is 50k of rows with 8 col

[2022-11-30 15:22] nd4p90x commented on #243
Is this in a prod env or are you using the debugger in app.segment.com?

[2022-11-30 15:39] gevored commented on #243
prod env, I am using this lib to send calls directly to Segment

[2022-11-30 15:41] nd4p90x commented on #243
Thank you for that clarification.   Let us review and get back with you shortly.

[2022-11-30 18:43] nd4p90x commented on #239
This has been resolved, thank you for the information

[2022-11-30 21:13] nd4p90x commented on #243
@gevored Without asking for other specific info, I can only assume that you are looking at the segment debugger to validate the messages you are sending?  If this is the case, the debugger by design does not record every single entry sent to it.
![Screen Shot 2022-11-30 at 3 12 09 PM](https://user-images.githubusercontent.com/2658588/204909235-dee4cb15-bd3d-4444-ae9e-eacbda986fc1.png)

[2022-11-30 21:32] nd4p90x commented on #241
@ronduursma Is this related to the python analytics LIB?

[2022-11-30 22:13] ronduursma commented on #241
@nd4p90x
No.  Unless this is an internal question about the implementation of spectacles, in which case I have no idea.

[2022-11-30 22:16] nd4p90x commented on #241
@ronduursma I am trying to determine if you might have posted your question to the wrong repo.  There is no SQL test or interface as you describe in this project.

[2022-11-30 22:18] ronduursma commented on #241
@nd4p90x Oh wow, thanks for pointing that out. No idea how that happened, but I will go and find the correct group now. Thanks and apologies.

[2022-11-30 22:18] #241 closed